body, html {
    width: 100%;
    height: 100%;
}
h1 {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-style: normal;
}
#zero {
    margin-top: 1%;
    margin-left: 1%;
    color: white;
    background-color: #117964;
}
h1.d_one {
    color: #000000;
    font-size: 4em;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
p.d_one {
    color: #000000;
    font-size: 1.5em;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 3%;
    margin-bottom: 5%;
}
#s_two {
    display: flex;
    flex-wrap: nowrap;
}
.d_two {
    width: 100%;
}
#homeContent {
    margin-top: 3%;
    margin-left: 5%;
}
#librosContent {
    margin-top: 3%;
    margin-left: 5%;
}
#ebooksContent {
    margin-top: 3%;
    margin-left: 5%;
}
.lista_verde {
    color: white;
    background-color: #117964;
    font-size: 1.5em;
    margin-top: 3%;
    padding: 3%;
}
#d_libros {
    display: flex;
    margin-top: 3%;
    flex-direction: row !important; /* Para prevenir que el media query lo ponga en columnas*/
}
.libros {
    flex-basis: 33.33%;
}
#d_ebooks {
    display: flex;
    margin-top: 3%;
    flex-wrap: wrap;
    text-align: center;
    gap: 3%;
}
.ebooks {
    flex-basis: 30%;
}
.ebooks img {
    width: 100%;
    height: auto;
}

/* Navbar */
.navbar {
    border-bottom: 3px solid #D25400; /* Línea inferior para la barra */
}

/* Clase que obtienen la clase seleccionada en la navbar */
.navbar .nav-item.active .nav-link {
    background-color: #D25400; /* Fondo del recuadro (gris claro) */
    color: white;
    border-radius: 5px; /* Bordes suaves para el recuadro */
}

@media (max-width: 768px) {
    section {
        flex-direction: column;
    }
    div {
        flex-direction: column;
        flex-wrap: nowrap;
    }
    #d_two_derecha {
        margin-left: 5%;
    }
    .navbar, .navbar-expand-lg, .navbar-light, .bg-light{
        margin-left: 5%;
    }
    #d_libros {
        flex-wrap: nowrap !important;
    }
    .ebooks {
        flex-basis: 100%;
    }
    .navbar {
        display: flex;
        flex-direction: column; /* Organización vertical */
        align-items: center; /* Centrado horizontal */
        justify-content: space-between; /* Espaciado uniforme */
    }
    .navbar .nav-item {
        display: block; /* Asegura que los elementos estén en bloque */
        margin: 10px 0; /* Espaciado vertical entre los enlaces */
    }
    #navbarSupportedContent {
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
    }
    a.nav-link {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}